* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    @include display(row);
    gap: 500px;
    margin-left: 250px;
    margin-top: 180px;
}

.footer_block_first {
    @include display(column);
    gap: 15px;

}

.block_first_top {
    @include display(row);
    gap: 20px;
}

.block_first_bottom {
    @include display(row);
    gap: 20px;
}

.footer_block_second {
    @include display(column);

}

.block_second_top {
    @include display(row);
    gap: 20px;
}

.block_second_bottom {
    @include display(row);
    gap: 20px;
}

.footer_links {
    color: white;
    font: 12px/30px Roboto, Helvetica, Arial, Verdana, sans-serif;
    text-decoration: none;
}

.footer_form {
    width: 180px;
    height: 20px;
    background-color: black;
    border: none;
    border-bottom: 1px solid grey;
}

.form_buttom {
    padding-top: 10px;
    color: white;
    font-family: DIN_Regular, Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

@media all and (min-width: 500px) and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
        gap: 10px;
    }

    .block_first_top {
        flex-direction: column;
        text-align: center;
    }

    .block_first_bottom {
        flex-direction: column;
        text-align: center;
        align-items: center;

    }

    .block_second_top {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .block_second_bottom {
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .footer_form {
        width: 361px;
    }

    .footer_links {
        margin: 10px;
    }

}

@media all and (min-width: 768px) and (max-width: 991px) {
    .footer_links {
        line-height: 5px;
    }

    .footer {
        margin-left: 10px;
        gap: 100px;
    }

    .footer_links {
        color: white;
        font: 10px/24px Roboto, Helvetica, Arial, Verdana, sans-serif;
        text-decoration: none;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .footer_links {
        line-height: 10px;
    }

    .footer {
        margin-left: 10px;
        gap: 150px;
    }

    .footer_links {
        color: white;
        font: 10px/30px Roboto, Helvetica, Arial, Verdana, sans-serif;
        text-decoration: none;
    }
}

@media all and (min-width: 1200px) and (max-width: 1350px) {
    .footer {
        margin-left: 10px;
        gap: 150px;
    }
}

@media all and (min-width: 1350px) and (max-width: 1500px) {
    .footer {
        margin-left: 10px;
        gap: 150px;
    }

}

@media all and (min-width: 1501px) and (max-width: 1600px) {
    .footer {
        gap: 300px;
        margin-left: 100px;
    }
}

@media all and (min-width: 1500px) and (max-width: 1980px) {}